@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.eot");
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype"), url("./assets/fonts/Roboto-Regular.woff") format("woff"), url("./assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Thin.eot");
  src: url("./assets/fonts/Roboto-Thin.ttf") format("truetype"), url("./assets/fonts/Roboto-Thin.woff") format("woff"), url("./assets/fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Light.eot");
  src: url("./assets/fonts/Roboto-Light.ttf") format("truetype"), url("./assets/fonts/Roboto-Light.woff") format("woff"), url("./assets/fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Medium.eot");
  src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype"), url("./assets/fonts/Roboto-Medium.woff") format("woff"), url("./assets/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.eot");
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold.woff") format("woff"), url("./assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
  max-width: 1920px;
  font-family: "Roboto";
  font-size: 18px;
  color: #000;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2.77778em;
}

h3 {
  font-size: 1.94444em;
}

h4 {
  font-size: 1.66667em;
}

#map {
  height: 100%;
}

footer {
  height: 400px;
}

.block-size {
  margin: 0 auto;
  max-width: 1200px;
}

.block-padding {
  padding: 60px 15px;
}

.fs-adaptive {
  font-size: 70%;
}

.e-large-logo {
  max-width: 160px;
  float: left;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.e-logo {
  max-width: 90px;
  margin: 2px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.e-form__input {
  width: 100%;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 15px 10px 15px 30px;
  font-size: 0.77778em;
  outline: none;
  overflow: auto;
  border: 1px solid #333333;
  white-space: nowrap;
  border-radius: 5px;
  background-image: url(./assets/images/input-right-arrow.png);
  background-size: auto 10px;
  background-position: 15px 50%;
  background-repeat: no-repeat;
}

.e-form__input:focus {
  border: 1px solid #cb0e17;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.e-btn {
  display: block;
  background-color: #cb0e17;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(1, 1, 1, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(1, 1, 1, 0.75);
  border-radius: 2px;
  height: 40px;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.e-btn span {
  color: #fff;
  font-size: 0.83333em;
  line-height: 40px;
}

.e-btn:hover {
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
}

.e-btn:active {
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(1, 1, 1, 0.75);
          box-shadow: inset 0px 0px 5px 0px rgba(1, 1, 1, 0.75);
}

.e-btn--make-order {
  margin: 0 auto;
}

.e-btn--order {
  margin-top: 30px;
}

.e-afterblock-line {
  margin: 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px dashed #272424;
  background: #995d5b5b;
}

.e-afterblock-line--analysis-title {
  width: 410px;
  border-top: 1px solid #999;
}

.e-afterblock-line--cat {
  margin-top: 20px;
  border-top: 1px solid #999;
}

.c-banner {
  position: relative;
}

.c-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./assets/images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -25;
}

.c-banner__wrapper {
  padding: 30px 15px 60px;
  height: 100%;
}

.c-bottom-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-bottom-field__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
}

.c-bottom-field__slogan {
  color: #cb0e17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 100px;
}

.c-bottom-field__slogan__text-1 {
  font-size: 1.22222em;
  font-weight: bold;
}

.c-bottom-field__slogan__text-2 {
  font-weight: 300;
}

.c-bottom-field__slogan__text-3 {
  font-weight: 700;
}

.c-bottom-field__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.c-bottom-field__stats__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.c-bottom-field__stats__item__img {
  margin-bottom: 15px;
}

.c-bottom-field__stats__item__text {
  text-align: center;
}

.c-bottom-field__express-order {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-bottom-field__express-order__wrapper {
  background-image: url(./assets/images/form-backgr-ver.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px 32px 30px;
  max-width: 298px;
  font-weight: 300;
}

.c-bottom-field__express-order__text {
  font-size: 0.83333em;
  line-height: 23px;
  text-align: start;
  color: #333333;
  margin-bottom: 30px;
}

.c-bottom-field__express-order__title {
  font-size: 1.22222em;
  color: #cb0e17;
  margin-bottom: 30px;
}

.c-bottom-field__express-order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-bottom-field__express-order__text-complete {
  margin-top: 15px;
  font-size: 0.83333em;
  font-weight: 300;
  text-shadow: 1px 1px 3px #333333;
}

.c-lang-change {
  margin-bottom: 35px;
}

.c-lang-change__list {
  font-weight: 300;
  font-size: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.c-lang-change__btn {
  display: block;
  margin-right: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.c-lang-change__btn:last-child {
  margin-right: 0;
}

.c-lang-change__btn a {
  color: #ccc;
}

.c-lang-change__btn a:hover {
  color: #fff;
  font-weight: 700;
}

.c-lang-change__btn a:focus {
  color: #fff;
  font-weight: 700;
}

.c-lang-change__btn--active a {
  color: #fff;
  font-weight: 700;
}

.c-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 60px;
}

.c-contacts__title {
  max-width: 450px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 1.38889em;
  text-align: end;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fff;
  text-shadow: 3px 3px 5px black;
}

.c-contacts__phone {
  font-size: 1.94444em;
  margin-bottom: 10px;
}

.c-contacts__phone a {
  color: #cb0e17;
}

.c-contacts__phone a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.c-contacts__mail {
  font-size: 1.11111em;
  margin-bottom: 30px;
}

.c-contacts__mail a {
  color: #cb0e17;
}

.c-contacts__mail a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.c-header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.c-nav__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-nav__list__item {
  margin-right: 60px;
}

.c-nav__list__item:last-child {
  margin-right: 0;
}

.c-nav__list__link {
  color: #333333;
}

.c-nav__list__link:hover {
  color: #cb0e17;
}

.c-burger {
  display: none;
}

.c-background-story {
  position: relative;
}

.c-background-story::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./assets/images/eclipse-horse.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -20;
}

.c-background-story__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e8e9e3;
}

.c-background-story__position {
  width: 57%;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.c-background-story__info {
  font-weight: 300;
  font-size: 1.11111em;
  margin-bottom: 30px;
}

.c-background-story__slogan {
  font-weight: 100;
}

.c-cat__title {
  color: #cb0e17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.c-cat__title__text-1 {
  font-weight: 300;
}

.c-cat__title__text-2 {
  font-weight: 300;
}

.c-cat__title__text-3 {
  font-weight: 700;
}

.c-cat__info {
  font-size: 1.11111em;
  color: #333333;
  font-weight: 300;
  margin-bottom: 30px;
}

.c-cat span {
  color: #cb0e17;
}

.c-advantages__title {
  color: #333333;
  margin-bottom: 60px;
}

.c-advantages__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

.c-advantages__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-advantages__item__text {
  font-size: 1.11111em;
  font-weight: 500;
  color: #333333;
  text-align: center;
  max-width: 240px;
}

.c-advantages__item__img {
  margin-bottom: 30px;
}

.c-advantages__item__img svg {
  width: 110px;
  height: 110px;
  fill: #cb0e17;
}

.c-recomendations__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #cb0e17;
  line-height: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-recomendations__title__percents {
  margin-right: 50px;
  font-size: 7.22222em;
  font-weight: 300;
}

.c-recomendations__title__text-1 {
  font-weight: 300;
}

.c-recomendations__title__text-2 {
  font-weight: 300;
  font-size: 1.77778em;
  line-height: 0.75;
}

.c-recomendations__title__text-3 {
  font-weight: 700;
  font-size: 1.38889em;
  margin-top: auto;
  line-height: 2;
}

.c-analysis__title {
  color: #cb0e17;
  margin-bottom: 40px;
}

.c-analysis__title h2 {
  font-weight: 300;
}

.c-analysis__title h3 {
  font-weight: 300;
}

.c-analysis__subtitle {
  margin: 30px 0 40px 0;
}

.c-analysis__stats-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.c-analysis__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.c-analysis__item__img {
  margin-bottom: 25px;
  min-height: 150px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.c-analysis__item__text {
  max-width: 300px;
  margin-bottom: 60px;
  text-align: center;
}

.c-analysis__item__diagram {
  width: 320px;
}

.c-reasons {
  position: relative;
}

.c-reasons::before {
  content: "";
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./assets/images/reasons-backgr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -22;
}

.c-reasons__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.c-reasons__traits {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 768px;
  max-height: 768px;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1px;
          column-gap: 1px;
  row-gap: 1px;
  justify-items: center;
  -ms-grid-rows: (minmax(128px, 256px))[3];
      grid-template-rows: repeat(3, minmax(128px, 256px));
  -ms-grid-columns: (minmax(128px, 256px))[3];
      grid-template-columns: repeat(3, minmax(128px, 256px));
      grid-template-areas: "trait-1 trait-1 trait-2" "trait-3 trait-4 trait-5" "trait-6 trait-4 trait-7";
}

.c-reasons__trait {
  position: relative;
  max-height: 256px;
  max-width: 256px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.c-reasons__trait:hover .c-reasons__trait__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.c-reasons__trait:hover .c-reasons__trait__back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.c-reasons__trait__front {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.65s ease 0.15s;
  transition: -webkit-transform 0.65s ease 0.15s;
  transition: transform 0.65s ease 0.15s;
  transition: transform 0.65s ease 0.15s, -webkit-transform 0.65s ease 0.15s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
}

.c-reasons__trait__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 15px;
  font-weight: 300;
  font-size: 0.97222em;
  color: #fff;
  background-color: rgba(184, 14, 20, 0.8);
  -webkit-transition: -webkit-transform 0.65s ease 0.15s;
  transition: -webkit-transform 0.65s ease 0.15s;
  transition: transform 0.65s ease 0.15s;
  transition: transform 0.65s ease 0.15s, -webkit-transform 0.65s ease 0.15s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);
}

.c-reasons__trait--1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: trait-1;
  max-width: 512px;
}

.c-reasons__trait--2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: trait-2;
}

.c-reasons__trait--3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: trait-3;
}

.c-reasons__trait--4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: trait-4;
  max-height: 512px;
}

.c-reasons__trait--5 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: trait-5;
}

.c-reasons__trait--6 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: trait-6;
}

.c-reasons__trait--7 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: trait-7;
}

.c-reasons__content {
  padding-left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-reasons__title {
  color: #cb0e17;
  margin-top: -7px;
  margin-bottom: 45px;
  line-height: 1;
}

.c-reasons__title h2,
.c-reasons__title h3,
.c-reasons__title h4 {
  font-weight: 300;
}

.c-reasons__text {
  color: #000;
  font-size: 1.11111em;
  margin-bottom: 40px;
}

.c-reasons__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-reasons__order__wrapper {
  background-image: url(./assets/images/form-backgr-ver.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 50px 32px 30px;
  max-width: 298px;
  font-weight: 300;
}

.c-reasons__order__text {
  margin: 30px 0 60px;
  font-weight: 300;
  color: #cb0e17;
  font-size: 1.11111em;
}

.c-reasons__order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-reasons__order__text-complete {
  margin-top: 15px;
  font-size: 0.83333em;
  font-weight: 300;
  text-shadow: 1px 1px 3px #333333;
}

.c-employees__title {
  color: #cb0e17;
}

.c-employees__title h2,
.c-employees__title h3,
.c-employees__title h4 {
  font-weight: 300;
}

.c-employees__title h2 {
  line-height: 46px;
}

.c-employees__title h3 {
  line-height: 28px;
}

.c-employees__title h4 {
  line-height: 35px;
}

.cat-swiper__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cat-swiper__slide__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
}

.cat-swiper__slide__img img {
  width: 100%;
}

.cat-swiper__slide__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58%;
          flex: 0 0 58%;
  padding: 40px 30px;
  color: #333333;
}

.cat-swiper__slide__text-1 {
  color: #ccc;
  font-size: 3.33333em;
  font-weight: 100;
  margin-bottom: 40px;
}

.cat-swiper__slide__text-2 {
  font-size: 1.11111em;
}

.cat-swiper .swiper-pagination {
  bottom: 0;
}

.cat-swiper .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid #000;
}

.cat-swiper .swiper-pagination-bullet-active {
  background-color: #cb0e17;
  border: 1px solid #333333;
}
