@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.eot");
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype"), url("./assets/fonts/Roboto-Regular.woff") format("woff"), url("./assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Thin.eot");
  src: url("./assets/fonts/Roboto-Thin.ttf") format("truetype"), url("./assets/fonts/Roboto-Thin.woff") format("woff"), url("./assets/fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Light.eot");
  src: url("./assets/fonts/Roboto-Light.ttf") format("truetype"), url("./assets/fonts/Roboto-Light.woff") format("woff"), url("./assets/fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Medium.eot");
  src: url("./assets/fonts/Roboto-Medium.ttf") format("truetype"), url("./assets/fonts/Roboto-Medium.woff") format("woff"), url("./assets/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.eot");
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype"), url("./assets/fonts/Roboto-Bold.woff") format("woff"), url("./assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 320px;
  max-width: 1920px;
  font-family: "Roboto";
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 2.77778em;
}

h3 {
  font-size: 1.94444em;
}

h4 {
  font-size: 1.66667em;
}

.block-size {
  margin: 0 auto;
  max-width: 1200px;
}

.block-padding {
  padding: 60px 15px;
}

.fs-adaptive {
  font-size: 70%;
}

.e-large-logo {
  max-width: 160px;
  position: absolute;
  top: 30px;
  left: 15px;
}

.e-logo {
  max-width: 90px;
  margin: 2px 0;
}

.e-btn {
  display: block;
  background-color: #cb0e17;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(1, 1, 1, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(1, 1, 1, 0.75);
  border-radius: 2px;
  height: 40px;
  width: 230px;
}

.e-btn span {
  color: #fff;
  font-size: 0.83333em;
}

.e-btn:active {
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(1, 1, 1, 0.75);
          box-shadow: inset 0px 0px 5px 0px rgba(1, 1, 1, 0.75);
}

.e-btn--make-order {
  margin: 0 auto;
}

.e-afterblock-line {
  margin: 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 2px dashed #272424;
  background: #995d5b5b;
}

.e-afterblock-line--analysis-title {
  width: 410px;
  border-top: 2px solid #999;
}

.c-banner {
  position: relative;
  height: 100vh;
}

.c-banner::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./assets/images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -25;
}

.c-banner__wrapper {
  position: relative;
  padding-top: 30px;
  height: 100%;
}

.c-slogan {
  position: absolute;
  top: 40%;
  left: 15px;
  color: #cb0e17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-slogan__title {
  font-weight: 700;
}

.c-slogan__subtitle-1 {
  font-size: 1.22222em;
  font-weight: bold;
}

.c-slogan__subtitle-2 {
  font-size: 1.66667em;
  font-weight: 300;
}

.c-lang-change {
  position: absolute;
  top: 30px;
  right: 5px;
  font-weight: 300;
  font-size: 1em;
}

.c-lang-change__btn {
  margin-right: 25px;
  color: #ccc;
}

.c-lang-change__btn:hover {
  font-weight: 700;
}

.c-lang-change__btn:focus {
  font-weight: 700;
}

.c-lang-change__btn:active {
  color: #fff;
  font-weight: 700;
}

.c-lang-change__btn:last-child {
  margin-right: 0;
}

.c-header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.c-nav__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.c-nav__list__item {
  margin-right: 60px;
}

.c-nav__list__item:last-child {
  margin-right: 0;
}

.c-nav__list__link {
  color: #333;
}

.c-nav__list__link:hover {
  color: #cb0e17;
}

.c-burger {
  display: none;
}

.c-background-story {
  position: relative;
}

.c-background-story::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(./assets/images/eclipse-horse.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -20;
}

.c-background-story__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e8e9e3;
}

.c-background-story__position {
  width: 57%;
  text-align: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.c-background-story__info {
  font-weight: 300;
  font-size: 1.11111em;
  margin-bottom: 30px;
}

.c-background-story__slogan {
  font-weight: 100;
}

.c-cat__title {
  color: #cb0e17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.c-cat__title__text-1 {
  font-weight: 300;
}

.c-cat__title__text-2 {
  font-weight: 300;
}

.c-cat__title__text-3 {
  font-weight: 700;
}

.c-cat__info {
  font-size: 1.11111em;
  color: #333;
  font-weight: 300;
  margin-bottom: 30px;
}

.c-cat span {
  color: #cb0e17;
}

.c-advantages__title {
  color: #333;
  margin-bottom: 60px;
}

.c-advantages__items-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

.c-advantages__item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-advantages__item__text {
  font-weight: 500;
  color: #333;
  text-align: center;
}

.c-advantages__item__text p {
  max-width: 220px;
}

.c-advantages__item__img {
  margin-bottom: 30px;
}

.c-advantages__item__img svg {
  width: 110px;
  height: 110px;
  fill: #cb0e17;
}

.c-recomendations__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #cb0e17;
  line-height: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-recomendations__title__percents {
  margin-right: 50px;
  font-size: 7.22222em;
  font-weight: 300;
}

.c-recomendations__title__text-1 {
  font-weight: 300;
}

.c-recomendations__title__text-2 {
  font-weight: 300;
  font-size: 1.77778em;
  line-height: 0.75;
}

.c-recomendations__title__text-3 {
  font-weight: 700;
  font-size: 1.38889em;
  margin-top: auto;
  line-height: 2;
}

.c-analysis__title {
  color: #cb0e17;
  margin-bottom: 40px;
}

.c-analysis__title h2 {
  font-weight: 300;
}

.c-analysis__title h3 {
  font-weight: 300;
}

.c-analysis__subtitle {
  margin: 30px 0 40px 0;
}

.c-analysis__stats-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.c-analysis__item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 340px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.c-analysis__item__img {
  margin-bottom: 25px;
  max-height: 120px;
}

.c-analysis__item__text {
  max-width: 300px;
  margin-bottom: 60px;
  text-align: center;
}

.c-analysis__item__diagram {
  width: 100%;
  min-width: 340px;
}

.c-analysis__item__diagram img {
  width: 100%;
}
