.c-advantages {
  // &__container {
  //   display: flex;
  //   justify-content: center;
  // }

  &__title {
    color: $c-light-black;
    margin-bottom: 60px;
  }

  &__items-wrapper {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 100%;
    justify-content: space-around;
    margin-bottom: 40px;
  }

  &__item {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
      font-size: em(20);
      font-weight: $fw-medium;
      color: $c-light-black;
      text-align: center;
      max-width: 240px;
    }

    &__img {
      margin-bottom: 30px;
      & svg {
        width: 110px;
        height: 110px;
        fill: $c-red;
      }
    }
  }
}
