.c-advantages {
  &__wrapper {
    padding: 50px 15px;
  }

  &__title {
    color: $c-light-black;
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 25%;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text p {
      text-align: center;
    }
    &__img {
      // margin: 0 auto;
      & svg {
        width: 110px;
        height: 110px;
        fill: $c-red;
        display: block;
      }
    }
  }
}
