.c-advantages {
  &__wrapper {
    padding: 50px 15px;
  }

  &__title {
    color: $c-light-black;
    margin-bottom: 60px;
  }

  // &__container {
  //   display: flex;
  // }

  &__items-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 20%;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
      font-weight: $fw-medium;
      color: $c-light-black;
      text-align: center;
      // & p {
      // }
    }

    &__img {
      margin-bottom: 30px;
      & svg {
        width: 110px;
        height: 110px;
        fill: $c-red;
        stroke: $c-light-black;
      }
    }
  }
}
