.c-cat {
  &__title {
    color: $c-red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    &__text-1 {
      font-weight: $fw-light;
    }
    &__text-2 {
      font-weight: $fw-light;
    }
    &__text-3 {
      font-weight: $fw-bold;
    }
  }

  &__info {
    font-size: em(20);
    color: $c-light-black;
    font-weight: $fw-light;
    margin-bottom: 30px;
  }
  & span {
    color: $c-red;
  }
}
