.c-banner {
  background-image: url(./assets/images/banner.jpg);
  @include backgroundImage;
  height: 100vh;

  &__wrapper {
    position: relative;
    // padding: 30px 5px 0 5px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
