.c-contacts {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

  & a {
    color: $c-red;
  }

  &__title {
    max-width: 500px;
    text-transform: uppercase;
    font-size: em(25);
    text-align: end;
    user-select: none;
    color: $c-white;
    -webkit-text-stroke: 0.5px $c-light-black;
    box-shadow: 0px 0px 5px 0px rgba(1, 1, 1, 0.75);
    // & p {
    //   // stroke: $c-light-black;
    // }
  }

  &__phone {
    font-size: em(35);
  }

  &__mail {
    font-size: em(20);
  }
}
