// .c-header {
//   &__wrapper {
//     padding-top: 30px;
//   }
// }

.c-banner {
  padding: 30px 5px 0 5px;
  height: 100vh;
  @include backgroundImage;
  background-image: url(./assets/images/banner.jpg);

  &__content {
    position: relative;
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
  }
}

.c-logo {
  max-width: 160px;
  display: block;
}
