// .c-header {
//   &__wrapper {
//   }
// }

.c-banner {
  position: relative;
  // min-height: 100vh;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assets/images/banner.jpg);
    @include backgroundImage;
    background-attachment: fixed;
    // min-height: 100vh;
    z-index: -25;
  }

  &__wrapper {
    padding: 30px 15px 60px;
    height: 100%;
  }
}

.c-bottom-field {
  display: flex;

  &__info {
    flex: 0 1 65%;
  }
  &__slogan {
    color: $c-red;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    user-select: none;
    margin-bottom: 100px;

    &__text-1 {
      font-size: em(22);
      font-weight: bold;
    }
    &__text-2 {
      // font-size: em(30);
      font-weight: $fw-light;
    }
    &__text-3 {
      font-weight: $fw-bold;
    }
  }

  &__stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    user-select: none;

    &__item {
      flex: 0 0 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 25px;

      &__img {
        margin-bottom: 15px;
      }

      &__text {
        text-align: center;
      }
    }
  }

  &__express-order {
    flex-basis: 30%;
    position: relative;
    min-height: 200px;
    // background-image: url(./assets/images/form-backgr-ver.jpg);
    // @include backgroundImage;
    &__wrapper {
      background-image: url(./assets/images/form-backgr-ver.png);
      background-size: 298px 498px;
      background-repeat: no-repeat;
      background-position: center center;
      padding: 50px 20px 30px;
      max-width: 298px;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   background-image: url(./assets/images/form-backgr-ver.png);
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   background-position: center center;
    //   z-index: -20;
    // }
  }
}
