.c-header {
  // &__wrapper {
  //   padding-top: 30px;
  // }

  &__banner {
    padding-top: 30px;
    height: 100vh;
    @include backgroundImage;
    background-image: url(./assets/images/banner.jpg);
  }

  &__logo {
    margin: 0 5px;
    max-width: 160px;
  }
}
