.c-lang-change {
  color: $c-light-gray;
  font-weight: $fw-light;

  &__btn {
    text-decoration: none;
    margin-right: 8px;
    &:last-child {
      margin-left: 0;
    }

    &:hover {
      color: $c-light-black;
      font-weight: $fw-bold;
    }
  }
}
