.c-lang-change {
  &__list {
    // position: absolute;
    // top: 30px;
    // right: 5px;
    font-weight: $fw-light;
    font-size: em(18);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  &__btn {
    display: block;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    & a {
      color: $c-light-gray;

      &:hover {
        color: $c-white;
        font-weight: $fw-bold;
      }
      &:focus {
        color: $c-white;
        font-weight: $fw-bold;
      }
      &:active {
        color: $c-white;
        font-weight: $fw-bold;
      }
    }
  }
}
