.c-lang-change {
  position: absolute;
  top: 30px;
  right: 5px;
  font-weight: $fw-light;

  &__btn {
    text-decoration: none;
    margin-right: 8px;
    color: $c-light-gray;
    font-size: em(18)

    // &:link {
    //   color: $c-light-gray;
    // }
    // &:visited {
    //   color: $c-light-gray;
    // }

    &:hover {
      // color: $c-white;
      font-weight: $fw-bold;
    }
    &:focus {
      color: $c-white;
      font-weight: $fw-bold;
    }
    &:active {
      color: $c-white;
      font-weight: $fw-bold;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
