.c-navigation {
  position: relative;
  display: block;
}

.c-nav {
  position: sticky;
  top: 0;
  // display: flex;
  // flex-direction: row;
  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    &__item {
      margin-right: 15px;
    }
  }
}
