.c-header-navigation {
  display: flex;
  justify-content: space-between;
}

.c-nav {
  &__list {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    &__item {
      // justify-content: center;
      margin-right: 15px;
    }
  }
}
