.c-header-navigation {
  display: flex;
}

.c-nav {
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    &__item {
      margin-right: 15px;
    }
  }
}
