.c-header-navigation {
  display: flex;
}

.c-nav {
  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    &__item {
      justify-content: center;
      margin-right: 15px;
    }
  }
}
