.c-navigation {
  display: block;
  position: sticky;
  // position: relative;
}

.c-nav {
  // position: sticky;
  // top: 0;
  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    &__item {
      margin-right: 15px;
    }
  }
}
