.c-reasons {
  position: relative;
  &::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assets/images/reasons-backgr.jpg);
    @include backgroundImage;
    z-index: -22;
  }
  &__traits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  &__trait {
    &__back {
      display: none;
      backface-visibility: hidden;
    }

     {
      &--1 {
      }
      &--2 {
      }
      &--3 {
      }
      &--4 {
      }
      &--5 {
      }
      &--6 {
      }
      &--7 {
      }
    }
  }
}
