.c-reasons {
  position: relative;
  &::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./assets/images/reasons-backgr.jpg);
    @include backgroundImage;
    z-index: -22;
  }
  &__traits {
    max-width: 768px;
    max-height: 768px;
    display: grid;
    column-gap: 2px;
    row-gap: 2px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 256px 256px 256px;
    // grid-template-columns: 256px 256px 256px;
    grid-template-areas:
      "trait-1 trait-1 trait-2"
      "trait-3 trait-4 trait-5"
      "trait-6 trait-4 trait-7";
  }
  &__trait {
    position: relative;

    // height: 256px;
    // width: 256px;
    // margin: 0 2px 2px 0;
    // &__front {
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   right: 0;
    //   left: 0;
    //   object-fit: cover;
    // }
    &__back {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      // display: none;
      // backface-visibility: hidden;
    }

    &--1 {
      grid-area: trait-1;
    }
    &--2 {
      grid-area: trait-2;
    }
    &--3 {
      grid-area: trait-3;
    }
    &--4 {
      grid-area: trait-4;
      margin-top: 2px;
    }
    &--5 {
      grid-area: trait-5;
    }
    &--6 {
      grid-area: trait-6;
    }
    &--7 {
      grid-area: trait-7;
    }
  }
}
