.c-recomendations {
  &__title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    &__percents {
      display: inline-block;
    }
    &__text {
      display: inline-block;
    }
  }
}
