.c-recomendations {
  &__title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    &__percents {
      display: inline-block;
      margin-right: 50px;
      font-size: em(130);
      font-weight: $fw-light;
    }
    &__text {
      display: inline-block;
    }
  }
}
