// Colors
$c-white: #fff;
$c-white-darker: #e8e9e3;
$c-black: #000;
$c-light-black: #333333;
$c-red: #cb0e17;

$c-red-transparent: #b80e15;
// rgba(203, 14, 23, 0.8);
$c-light-gray: #ccc;

// Shadows
$bs-reasons: 1px 1px 5px 3px rgba(0, 0, 0, 0.3);

// Fonts
$f-roboto: "Roboto";

// Font weights
$fw-thin: 100;
$fw-light: 300;
$fw-medium: 500;
$fw-bold: 700;

// Font sizes
$fs-base: 18;
