// Colors

$c-white: #fff;
$c-light-black: #333;
$c-light-gray: #ccc;

// Fonts

$f-roboto: "Roboto", sans-serif;

// Font sizes
$fs-base: 16px;
$fs-lang-change: 18px;

// Font weights
$fw-normal: normal;
$fw-bold: bold;
$fw-light: 300;
