// Colors
$c-white: #fff;
$c-light-black: #333;
$c-light-gray: #ccc;
$c-white-darker: #e8e9e3;

// Fonts
$f-roboto: "Roboto", sans-serif;

// Font weights
$fw-normal: normal;
$fw-bold: bold;
$fw-thin: 100;
$fw-light: 300;
$fw-medium: 500;

// Font sizes
$fs-base: 16;
