// Config
@import "./variables";
@import "./mixins";
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
  max-width: 1920px;
  font-family: $f-roboto;
  font-size: $fs-base + px;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: em(50);
}

h3 {
  font-size: em(35);
}

h4 {
  font-size: em(30);
}

#map {
  height: 100%;
}

// TODO Remove
footer {
  height: 400px;
}

.block-size {
  margin: 0 auto;
  max-width: 1200px;
}

.block-padding {
  padding: 60px 15px;
}

.fs-adaptive {
  font-size: 70%;
}

// Main styles
@import "./_elements/index";
@import "./_components/index";
