// Config
@import "./variables";
@import "./mixins";
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: $fs-base + px;
  font-family: $f-roboto;
  min-width: 320px;
  max-width: 1920px;
  position: relative;
}

img {
  width: 100%;
}

.block-size {
  max-width: 1200px;
  margin: 0 auto;
}

// Main styles
@import "./_components/index";
@import "./_elements/index";

.container {
  height: 2000px;
  background-color: silver;
}
