@import "./variables";
@import "./mixins";
@import "./fonts";

// Main styles
@import "./_components/index";
@import "./_elements/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
